<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Vonattársaság</title>
</head>



<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Keresés</a>
                </li>
                <% if ( role==='admin' ) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/hozzaadas">Hozzáadás</a>
                    </li>
                    <% } %>
                        <% if (role !=='vendeg' ) { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/foglalas/user">Foglalásaim</a>
                            </li>
                            <% } %>
            </ul>
            <ul class="navbar-nav ms-auto">
                <% if (role==='vendeg' ) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Bejelentkezés</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/regisztracio">Regisztráció</a>
                    </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link">
                                Felhasználó: <%= felhasznalonev %>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login/logout">Kijelentkezés</a>
                        </li>
                        <% } %>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="container mt-4 text-center">
            <div class="mb-5">
                <h1>Járat keresés</h1>
            </div>

        </div>
        <div class="container" id="adatok">
            <form method="GET" action="/">
                <div class="mb-3">
                    <label for="indulas" class="form-label">Indulás:</label>
                    <input type="text" name="indulas" class="form-control" id="indulas"
                        placeholder="Add meg honnan indul" value="<%= indulas %>">
                </div>

                <div class="mb-3">
                    <label for="erkezes" class="form-label">Érkezés:</label>
                    <input type="text" name="erkezes" class="form-control" id="erkezes"
                        placeholder="Add meg hova erkezik" value="<%= erkezes %>">
                </div>

                <div class="mb-3">
                    <label for="minimumAr" class="form-label">Minimum ár:</label>
                    <input type="number" name="minimumAr" class="form-control" id="minimumAr"
                        placeholder="Add meg a minimum árat" value="<%= minimumAr %>">
                </div>

                <div class="mb-3">
                    <label for="maximumAr" class="form-label">Maximum ár:</label>
                    <input type="number" name="maximumAr" class="form-control" id="maximumAr"
                        placeholder="Add meg a maximum árat" value="<%= maximumAr %>">
                </div>

                <div class="mb-4">
                    <input type="submit" class="btn btn-primary" value="Keresés">
                </div>
            </form>
        </div>

        <div class="container">
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th>Vonat száma</th>
                        <th>Indulás</th>
                        <th>Érkezés</th>
                        <th>Indulás idő</th>
                        <th>Érkezés idő</th>
                        <th>Nap</th>
                        <th>Idő</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% jaratok.forEach(function(jarat){ %>
                        <tr id="jaratSor<%= jarat.id %>" class="extraInfoButton" data-jarat-id="<%= jarat.id %>">
                            <td>
                                <%= jarat.id %>
                            <td>
                                <%= jarat.indulas %>
                            </td>
                            <td>
                                <%= jarat.erkezes %>
                            </td>
                            <td>
                                <%= jarat.indulasiIdo %>
                            </td>
                            <td>
                                <%= jarat.erkezesiIdo %>
                            </td>
                            <td>
                                <%= jarat.nap %>
                            </td>
                            <td>
                                <%= jarat.osszido %>
                            </td>
                            <% if (role==='user' || role==='admin' ) { %>
                                <td>
                                    <a href="/foglalas/jarat/<%=jarat.id %>" class="btn btn-outline-dark">Foglalás</a>
                                </td>
                                <% } %>
                                    <% if (role==='admin' ) { %>
                                        <td>
                                            <a href="/torles/jarat/<%=jarat.id %>"
                                                class="btn btn-outline-danger">Törlés</a>
                                        </td>
                                        <% } %>
                        </tr>
                        <tr class="extraInfoCloseButton" id='extraInfo<%= jarat.id %>' style="display: none;"
                            data-jarat-id="<%= jarat.id %>">
                            <td colspan="8">
                                <table class="table table">
                                    <thead>
                                        <tr>
                                            <th>Ár</th>
                                            <th>Tipus</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <td id="extraInfoAr<%= jarat.id %>"></td>
                                        <td id="extraInfoTipus<%= jarat.id %>"></td>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <% }) %>
                            <% jaratokAtszalassal.forEach(function(jarat){ %>
                                <tr id="jaratSorAtszallas<%= jarat.atszallas %>" class="extraInfoButtonAtszallas"
                                    data-jarat-id="<%= jarat.atszallas %>">
                                    <td>
                                        <%= jarat.atszallas %>
                                    <td>
                                        <%= jarat.indulas %>
                                    </td>
                                    <td>
                                        <%= jarat.erkezes %>
                                    </td>
                                    <td>
                                        <%= jarat.indulasiIdo %>
                                    </td>
                                    <td>
                                        <%= jarat.erkezesiIdo %>
                                    </td>
                                    <td>
                                        <%= jarat.nap %>
                                    </td>
                                    <td>
                                        <%= jarat.osszido %>
                                    </td>
                                    <% if (role==='user' || role==='admin' ) { %>
                                        <td>
                                            <a href="/foglalas/jaratok/<%=jarat.atszallas %>"
                                                class="btn btn-outline-dark">Foglalás</a>
                                        </td>
                                        <% } %>
                                            <% if (role==='admin' ) { %>
                                                <td></td>
                                                <% } %>
                                </tr>
                                <tr class="extraInfoCloseButtonAtszallas" id='extraInfoAtszallas<%= jarat.atszallas %>'
                                    style="display: none;" data-jarat-id="<%= jarat.atszallas %>">
                                    <td colspan=9">
                                        <table class="table table">
                                            <thead>
                                                <tr>
                                                    <th>Ár</th>
                                                    <th>Tipus</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <td>
                                                    <%= jarat.ar %>
                                                </td>
                                                <td>
                                                    <%= jarat.tipus %>
                                                </td>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <% }) %>
                </tbody>
            </table>
        </div>
        <script src="/extraInfo.js"></script>
        <script src="/extraInfoAtszallas.js"></script>
        <script src="/jaratTorles.js"></script>
</body>

</html>